html, body {
  /* margin: 0; */
  /* padding: 0; */
  background-color: black;
  color: white;
  font-family: sans-serif;
  font-size: 11px;

  /* display: flex; */
}
canvas {

  /* padding: 100px; */
    /* padding-top: 50px; */
    /* padding-bottom: 10000px; */
  /* display: block; */
  float: left;
  padding-right: 10px;
  /* position: relative; */
  /* display: flex; */

}

div {
  /* padding: 10em; */
  padding-left: 2em;
  /* display: flex; */
  /* float: none; */
  /* position: static; */
  /* display: inline; */

}
